/* INPUT ++++================================ */
.form-input {
  width: 100%;
  padding: 17px;
  font-weight: 400;
  font-size: 18px;
  background: var(--white);
  border: 1px solid var(--grey);

  @include breakpoint(xl) {
    padding: 10px;
    font-size: 14px;
  }

  @include breakpoint(sm) {
    margin-bottom: 24px;
  }

  &::placeholder {
    color: var(--grey);
  }
}
