.promo-slide {
  &__subtitle {
    margin-bottom: 30px;
    font-family: "Kaushan Script";
    font-size: 64px;
    font-weight: 400;
    line-height: 1.5;
    text-transform: capitalize;

    @include breakpoint(xl) {
      font-size: 48px;
    }

    @include breakpoint(sm) {
      margin-bottom: 40px;
      font-size: 36px;
    }
  }

  &__title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: min(10vw, 144px);
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2;

    &::after {
      content: "";
      display: block;
      margin: 0 auto;
      padding-top: 44px;
      width: 170px;
      border-bottom: 4px solid var(--white);

      @include breakpoint(lg) {
        width: 115px;
      }

      @include breakpoint(sm) {
        width: 134px;
      }
    }
  }

  &__link {
    display: block;
    max-width: 370px;
    width: 100%;
    margin: 72px auto 0;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    text-transform: uppercase;
    padding: 29px;
    white-space: nowrap;
    color: var(--white);
    border: 1px solid var(--white);
    transition: 1s;

    @include breakpoint(xl) {
      margin-top: 50px;
      padding: 16px;
      font-size: 18px;
    }

    @include breakpoint(sm) {
      padding: 14px;
    }

    &:hover {
      background-color: var(--white);
      color: var(--peach);
    }
  }
}
