.promo-slider {
  &__pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    z-index: 1;

    @include breakpoint(xl) {
      margin-top: 80px;
    }

    @include breakpoint(sm) {
      margin-top: 55px;
    }
  }

  &__pagination > li {
    width: 23%;
  }

  &__pagination button {
    position: relative;
    width: 100%;
    padding-top: 20px;
    background: transparent;
    border: none;
    font-weight: 700;
    font-size: 36px;
    border-top: 4px solid var(--light-yellow);
    color: var(--light-yellow);

    @include breakpoint(xl) {
      font-size: 24px;
    }

    @include breakpoint(md) {
      font-size: 18px;
    }

    @include breakpoint(sm) {
      font-size: 0;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 0;
      display: block;
      width: 0%;
      height: 4px;
      background: var(--accent);
    }

    &.is-active {
      border-top-color: var(--white);
      color: var(--white);

      &::before {
        animation: loading 3s;
        @keyframes loading {
          to {
            width: 100%;
          }
        }
      }
    }
  }
}

// .splide-track {
//   padding-right: 25%;
// }
