/* BUTTON ========================================== */
.prime-btn {
  display: inline-block;
  padding: 17px;
  font-weight: 700;
  font-size: 18px;
  border: none;
  color: var(--white);
  background: var(--blue);

  @include breakpoint(xl) {
    padding: 10px;
    font-size: 14px;
  }

  @include breakpoint(sm) {
    width: 100%;
  }
}
