.reviews-slide {
  display: flex;
  align-items: center;

  &_column {
    @include breakpoint(sm) {
      flex-direction: column;
    }
  }

  &__icon {
    width: 170px;
    flex-shrink: 0;
    margin-right: 30px;

    @include breakpoint(xl) {
      margin-right: 37px;
      width: 115px;
    }
  }

  &__icon-img {
    @include breakpoint(sm) {
      display: none;
    }
  }

  &__icon-author {
    border-radius: 50%;
    margin-bottom: 42px;
  }

  &__text {
    color: aqua;
    margin-bottom: 25px;
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    color: var(--secondary-color);

    @include breakpoint(xl) {
      font-size: 18px;
    }
  }

  &__autor {
    font-family: "Kaushan Script";
    font-weight: 400;
    font-size: 30px;

    @include breakpoint(xl) {
      font-size: 24px;
    }

    &::before {
      content: "";
      display: inline-block;
      margin-right: 56px;
      width: 70px;
      height: 4px;
      vertical-align: middle;
      background-color: var(--accent);

      @include breakpoint(xl) {
        margin-right: 37px;
        width: 47px;
      }
    }
  }
}
