// */startAMAZING==================================================================*/
.amazing {
  padding-top: 42px;
  padding-bottom: 21px;

  @include breakpoint(xl) {
    padding-top: 29px;
    padding-bottom: 26px;
  }

  @include breakpoint(sm) {
    padding-top: 48px;
    padding-bottom: 40px;
  }

  &__head {
    margin-bottom: 10px;

    @include breakpoint(xl) {
      margin-bottom: 42px;
    }
  }

  &__card {
    display: flex;
    align-items: flex-start;
    margin-top: 78px;
    margin-bottom: 70px;

    @include breakpoint(xl) {
      margin-top: 33px;
      margin-bottom: 32px;
    }

    @include breakpoint(sm) {
      margin-top: 18px;
      margin-bottom: 18px;
    }
  }

  &__card-img {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    align-self: flex-start;

    @include breakpoint(xl) {
      width: 60px;
      height: 60px;
    }

    @include breakpoint(sm) {
      width: 57px;
      height: 57px;
    }
  }

  &__info {
    padding-left: 30px;

    @include breakpoint(xl) {
      padding-left: 25px;
    }

    @include breakpoint(sm) {
      padding-left: 20px;
    }
  }

  &__card-name {
    padding-top: 17px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    text-transform: uppercase;

    @include breakpoint(xl) {
      font-size: 18px;
    }
  }

  &__card-desc {
    padding: 15px 0;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;

    @include breakpoint(xl) {
      font-size: 14px;
    }
  }
}

/* end AMAZING ==================================================================*/
