/* start BLOG ==================================================================*/
.blog {
  padding: 84px 0;
}

@media (max-width: 1200px) {
  .blog {
    padding: 58px 0;
  }
}

@media (max-width: 560px) {
  .blog {
    padding: 30px 0;
  }
}

.blog__head {
  margin-bottom: 42px;
}

.blog__card {
  font-family: "Raleway", sans-serif;
}

@media (max-width: 992px) {
  .blog__card {
    margin-bottom: 50px;
  }
}

@media (max-width: 560px) {
  .blog__card {
    margin-bottom: 30px;
  }
}

.blog__card-head {
  position: relative;
  margin-bottom: 30px;
}

.blog__img-wrap {
  position: relative;
  overflow: hidden;
  padding-bottom: 70%;
}

.blog__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

.blog__news-date {
  position: absolute;
  bottom: 20px;
  left: -14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: var(--blue);
  color: var(--white);
  font-size: 18px;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .blog__news-date {
    width: 68px;
    height: 68px;
    font-size: 14px;
  }
}

.blog__news-date span {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 5px;
}

@media (max-width: 1200px) {
  .blog__news-date span {
    font-size: 24px;
  }
}

.blog__card-title {
  margin-bottom: 10px;
  padding: 6px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
}

.blog__card-title a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .blog__card-title {
    font-size: 18px;
  }
}

.blog__card-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
}

@media (max-width: 1200px) {
  .blog__card-desc {
    font-size: 14px;
    line-height: 1.2;
  }
}

.blog__info-panel {
  display: flex;
  flex-wrap: wrap;
  margin-top: 22px;
}

.blog__info-block {
  display: flex;
  align-items: center;
  margin-right: 44px;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
}

@media (max-width: 1200px) {
  .blog__info-block {
    font-size: 12px;
  }
}

.blog__info-block:last-child {
  margin-right: 0;
}

.blog__info-img {
  width: 32px;
  flex-shrink: 0;
  margin-right: 16px;
}

/* end BLOG ==================================================================*/
