.clients {
  padding-top: 42px;
  padding-bottom: 28px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.9)),
    url("../images/dist/clients/nature.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  @include breakpoint(xl) {
    padding-top: 28px;
    padding-bottom: 15px;
  }

  &__row {
  }

  &__card {
    display: flex;
    margin-top: 23px;
    margin-bottom: 14px;

    @include breakpoint(xl) {
      margin-top: 14px;
      margin-bottom: 14px;
    }

    @include breakpoint(lg) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__autor-icon {
    width: 130px;
    height: 130px;
    border-radius: 50%;

    @include breakpoint(xl) {
      width: 88px;
      height: 88px;
    }

    @include breakpoint(lg) {
      margin-bottom: 20px;
    }
  }

  &__autor-feedback {
    margin-left: 50px;

    @include breakpoint(lg) {
      margin-left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__autor-name {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: var(--black);

    @include breakpoint(xl) {
      font-size: 18px;
    }
  }

  &__autor-position {
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--black);

    @include breakpoint(xl) {
      font-size: 14px;
      text-align: center;
    }

    &::after {
      content: "";
      display: block;
      width: 70px;
      height: 4px;
      margin-top: 25px;
      background: var(--accent);

      @include breakpoint(xl) {
        width: 47px;
      }

      @include breakpoint(lg) {
        width: 134px;
      }
    }
  }

  &__text {
    margin-top: 45px;
    margin-bottom: 7px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1;
    color: var(--black);

    @include breakpoint(xl) {
      font-size: 14px;
    }

    @include breakpoint(lg) {
      text-align: center;
    }
  }
}
