.map {
  padding-top: 42px;
  padding-bottom: 23px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.9)),
    url("../images/dist/map/map.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  @include breakpoint(xl) {
    padding-top: 28px;
    padding-bottom: 10px;
  }

  @include breakpoint(sm) {
    padding-top: 42px;
    padding-bottom: 23px;
  }
}
